.media-list {
 height: 100vh;
  .media-list-wrapper {
    padding: 30px;
    padding-top: 135px;
    width: calc(100% - 300px);
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: start;
    gap: 20px;
  }
}