
.sidebar {
    max-width: 300px;
    width: 100%; 
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 62px;
    bottom: 0;
    background-color: rgba(#e44e4e, .1);
    z-index: 1;
  }
  
  .sidebar.s-drageover,.f-drageover
  {box-shadow: 0 0 0 3px inset #8AFFFF;}
  
 
