.media {
    min-width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #b77156;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
        background-color: #e27347;
    }
}