@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 16px;
}

body {
  margin: 0;
  // font-family: "Roboto Slab", serif;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

$mimi-pink: #ffd6ffff;
$mauve: #e7c6ffff;
$mauve-2: #c8b6ffff;
$periwinkle: #b8c0ffff;
$periwinkle-2: #bbd0ffff;